# Environment + secrets
.env
.venv/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# macOS stuff
.DS_Store

# VS Code (if you're using it)
.vscode/

# OS trash
*.swp
*.swo
*.bak

# testing and old
testing.py
agent-original.py